@charset "UTF-8";

@font-face {
    font-family: 'negrito';
    src: url(fontes/PassionOne-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'versos';
    src: url(fontes/Sriracha-Regular.ttf) format("truetype");
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: white;
}

body{
    font-size:  xx-large;
}

header{
    background-color: black;
    margin: 50px;
    text-align: center;
    color: white;
    margin: 0px;
    padding-top: 50px;
    font-variant: small-caps;
    font-family: negrito;
}

header > h1{
    font-size: 10vw;
}

header > p{
    padding-bottom: 50px;
    font-size: 2vw;
}

section.normal{
    background-color: white;
}

section{
    padding-top: 5%;
    padding-bottom: 5%;
    line-height: 2em;
    padding-left: 30px;
    font-family: versos;
    font-size: 3vw;
}

section.imagem{
    background-color: rgb(94, 88, 88);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.438);
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
    display: inline-block;
    padding: 5px;
}

#livro{
    background-image: url("imagens/background002.jpg");
}

#livro > p{
    background-color: rgba(0, 0, 0, 0.452);
    color: white;
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

.imagem{
   background-image: url("imagens/background001.jpg");
    background-position: center;
    background-attachment: fixed;
    padding: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bolder;
    padding: 10px;
}

footer > p{
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
}