@charset "UTF-8";
/* Estilos específicos para orientação landscape */
body{
    height: 100vh;
    width: 100vw;
    background-image: url(../../imagens/cev-landscape.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #233eff;
    background-position: left bottom;
}
h1{
    color: white;
    text-align: center;
}
