@charset "UTF-8";
/* Estilos específicos para orientação portrait */
body{
    height: 100vh;
    width: 100vw;
    background-image: url(../../imagens/cev-portrait.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}