@charset "UTF-8";
/* Estilos específicos para orientação geral */

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-size: contain;
}