@charset "UTF-8";

/*Versão MOBILE FIRST*/

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    height: 100vh;
    width: 100vw;
}

body{
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

main{
    background-color: rgba(255, 255, 255, 0.76);
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

h1{
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.658);
}

h2::before{
    content: "Versão para celular";
}

img{
    display: block;
    margin: auto;
}

img#phone{display: block;}
img#print{display: none;}
img#desktop{display: none;}
img#tablet{display: none;}
img#tv{display: none;}
img#pc{display: none;}