@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
}

.grid{
    display: grid;
    background-color: aqua;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 50vh;
}

.topo{
    grid-area: 1 / 1 / 3 / -1;
    background-color: red;
}

.menu{
    grid-area: 3 / 1 / 4 / -1;
    background-color: green;
}

.principal{
    grid-area: 4 / 1 / 8 / 5;
    background-color: yellow;
}

.secundario{
    grid-area: 4 / 5 / 8 / -1;
    background-color: orange;
}

.rodape{
    grid-area: 8 / 1 / 8 / -1;
    background-color: blue;
}
