@charset "UTF-8";

menu {
    background-color: #333;
    color: white;
    padding: 10px;
}

header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

main {
    margin: 20px;
    font-family: Arial, sans-serif;
}

article {
    margin-bottom: 20px;
}