@charset "UTF-8";

/* Mobile First Design */ 

body{
    background-image: url(../imagens/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(39, 39, 39, 0.808);
    width: 50vw;
    height: 50vh;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
}

#titulo{
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.1em;
    color: rgb(255, 254, 254);
    text-shadow: rgb(219, 219, 219) 1px 2px 20px;
}

#subtitulo{
    text-align: center;
    margin-bottom: 30px;
    font-size: medium;
    font-weight: lighter;
}

section#login > div#formulario{
    display: block;
    padding: 20px;
}

input {
    margin: 10px;
    padding: 15px;
    width: 50%;
    border-radius: 50px;
}

input#iemail, input#isenha{
    background-color: rgba(5, 87, 87, 0.678);
}

input#iemail::placeholder, input#isenha::placeholder{
    color: rgb(255, 255, 255);
}

div#formulario > form{
    text-align: center;
}

div.botao{
    display: flex;
    text-align: center;
    margin-top: 20px;
}

input#isubmit, input#iforgot{
    transition: .3s;
    background-color: rgb(0, 211, 211);
}

input#iforgot{
    background-color: rgb(27, 25, 25);
    color: rgb(0, 211, 211);
}

input#isubmit:hover{
    cursor: pointer;
    background-color: rgb(120, 244, 253);
    transition: .3s;
}

input#iforgot:hover{
    cursor: pointer;
    background-color: rgb(56, 54, 54);
    transition: .3s;
}