@charset "UTF-8";

body{
    background-image: url(../imagens/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}
  
fieldset{
    display: block;
    margin: auto;
    background-color: rgba(36, 36, 36, 0.685);
    width: 55vw;
    background-position: 50% 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border-radius: 10px;
}

a{
    text-decoration: underline;
    color: white;
    font-weight: bolder;
}

input{
    margin-top: 5px;
    padding: 10px;
    width: 25vw;
    border-radius: 5px;
    border: solid 1px purple;
    font-size: 16px;
}

input#ientrar, #irecuperar {
    width: 27.65vw;
    display: block;
    cursor: pointer;
    transition: 0.2s;
}

input#ientrar:hover, #irecuperar:hover {
    background-color: rgba(83, 1, 83, 0.863);
    color: white;
    font-weight: bolder;
    transition: 0.2s;
}

#user, #cadeado {
    margin-top: 10px;
    background-color: red
}