@charset "UTF-8";

/* Mobile First Design */

body{
    background-image: url(../imagens/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(97, 7, 99, 0.808);
    width: 300px;
    height: 500px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
}

section#login > div#imagem{
    display: block;
    background: url(../imagens/cg.png);
    height: 200px;
    background-size: cover;
    background-position: left center;

}

section#login > div#formulario{
    display: block;
    padding: 20px;
}